name: Docs Publish
on:
  push:
    branches: [ main, 'stable/*' ]

jobs:
  deploy:
    if: github.repository_owner == 'Qiskit'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    # This can be removed when `ibm-platform-services` can build/install with the most recent of
    # `setuptools`. `setuptools==72.0.0` and `ibm-platform-services==0.55.1` are a known-bad combo.
    - name: Prebuild old-setuptools dependencies
      shell: bash
      run: |
        set -e
        python -m venv .build-deps
        if [[ ${{ runner.os }} =~ [wW]indows ]]; then
          .build-deps/Scripts/python -m pip install 'setuptools<72.0' wheel
          .build-deps/Scripts/python -m pip wheel --no-build-isolation ibm-platform-services
        else
          .build-deps/bin/python -m pip install 'setuptools<72.0' wheel
          .build-deps/bin/python -m pip wheel --no-build-isolation ibm-platform-services
        fi
        rm -rf .build-deps

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U virtualenv setuptools wheel tox
        sudo apt-get install graphviz pandoc
    - name: Build docs
      run: tox -edocs
    - name: Bypass Jekyll Processing # Necessary for setting the correct css path
      run: touch docs/_build/html/.nojekyll
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: docs/_build/html/
